<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62896161962-ko9jq6gdetci47hmilrasf04cg7ur4hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62896161962-ko9jq6gdetci47hmilrasf04cg7ur4hm</string>
	<key>API_KEY</key>
	<string>AIzaSyBqm8YAt7avgh9W7qydykc0O4B-VKEWkrI</string>
	<key>GCM_SENDER_ID</key>
	<string>62896161962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>react-native-4f187</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-4f187.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62896161962:ios:5324f6bd28d55eed6a7cd3</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-4f187.firebaseio.com</string>
</dict>
</plist>